---
http_interactions:
- request:
    method: get
    uri: https://api.zotero.org/users/99999/items?limit=100&start=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Zotero-API-Key:
      - <ZOTERO_API_KEY>
      Zotero-Api-Version:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Thu, 27 Mar 2026 00:00:00 GMT
- request:
    method: get
    uri: https://api.zotero.org/users/99999/deleted
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Zotero-API-Key:
      - <ZOTERO_API_KEY>
      Zotero-Api-Version:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"collections":[],"searches":[],"items":[],"tags":[],"settings":[]}'
  recorded_at: Thu, 27 Mar 2026 00:00:00 GMT
recorded_with: VCR 6.3.1
